body {
    background-color: #171923;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
a {
    color: #90cdf4;
}
a:hover {
    color: #63b3ed;
}
.navbar {
    background-color: #1a202c;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1rem;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    display: flex;
}
.navbar-link {
    margin-right: 1rem;
}
.navbar-link:hover {
    color: #90cdf4;
}

.navcolor {
    background-color: #1a202c;
}


.disabled {
    background-color: #ccc; 
    color: #d2d6dc;
    cursor: not-allowed; 
}

 .loader {
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid blue;
     border-right: 16px solid green;
     border-bottom: 16px solid red;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingScreen {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #171923;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

