body {
    background-color: #171923;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
a {
    color: #90cdf4;
}
a:hover {
    color: #63b3ed;
}
.navbar {
    background-color: #1a202c;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1rem;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    display: flex;
}
.navbar-link {
    margin-right: 1rem;
}
.navbar-link:hover {
    color: #90cdf4;
}

.navcolor {
    background-color: #1a202c;
}

.disabled {
    background-color: #ccc; 
    color: #d2d6dc;
    cursor: not-allowed; 
}

#currentDate {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



#loadingScreen {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #171923;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.btn-enabled {
    background-color: #48bb78; /* green-500 */
}

.btn-enabled:hover, .btn-enabled:focus {
    background-color: #38a169; /* green-700 */
    cursor: pointer;
    transform: scale(1.05);
}

.btn-disabled {
    background-color: #a0aec0; /* gray-400 */
    cursor: not-allowed;
}


.surveyselect {
    background: #171923;
    padding: 5pt;
}

@media (max-width: 575px) {
    #currentDate {
        display: none;
    }

    .points {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .skinpro {
        font-size: xx-large;
    }

    .loadingtext {
        font-size: medium;
        text-align: center;
    }

}