<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/api/v1/auth/signin}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autofocus/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
</form>
</body>
</html>
