<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Survey</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<div class="mx-auto py-12">

    <div id="loadingScreen" class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-75 flex justify-center items-center hidden">
        <div class="flex flex-col items-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <defs>
                    <filter id="ldio-sdni941feuc-filter" x="-100%" y="-100%" width="300%" height="300%" color-interpolation-filters="sRGB">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="2.4000000000000004"></feGaussianBlur>
                        <feComponentTransfer result="cutoff">
                            <feFuncA type="table" tableValues="0 0 0 0 0 0 1 1 1 1 1"></feFuncA>
                        </feComponentTransfer>
                    </filter>
                </defs>
                <g filter="url(#ldio-sdni941feuc-filter)">
                    <g transform="translate(50 50)">
                        <g>
                            <circle cx="17" cy="0" r="5" fill="#1d4ed8">
                                <animate attributeName="r" keyTimes="0;0.5;1" values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="4s" repeatCount="indefinite" begin="-0.25s"></animate>
                            </circle>
                            <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="4s" repeatCount="indefinite" begin="0s"></animateTransform>
                        </g>
                    </g>
                    <g transform="translate(50 50)">
                        <g>
                            <circle cx="17" cy="0" r="5" fill="#3b82f6">
                                <animate attributeName="r" keyTimes="0;0.5;1" values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="2s" repeatCount="indefinite" begin="-0.2s"></animate>
                            </circle>
                            <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="2s" repeatCount="indefinite" begin="-0.05s"></animateTransform>
                        </g>
                    </g>
                    <g transform="translate(50 50)">
                        <g>
                            <circle cx="17" cy="0" r="5" fill="#7e22ce">
                                <animate attributeName="r" keyTimes="0;0.5;1" values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="1.3333333333333333s" repeatCount="indefinite" begin="-0.15s"></animate>
                            </circle>
                            <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="1.3333333333333333s" repeatCount="indefinite" begin="-0.1s"></animateTransform>
                        </g>
                    </g>
                    <g transform="translate(50 50)">
                        <g>
                            <circle cx="17" cy="0" r="5" fill="#a855f7">
                                <animate attributeName="r" keyTimes="0;0.5;1" values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="1s" repeatCount="indefinite" begin="-0.1s"></animate>
                            </circle>
                            <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="1s" repeatCount="indefinite" begin="-0.15s"></animateTransform>
                        </g>
                    </g>
                    <g transform="translate(50 50)">
                        <g>
                            <circle cx="17" cy="0" r="5" fill="#1d4ed8">
                                <animate attributeName="r" keyTimes="0;0.5;1" values="3.5999999999999996;8.399999999999999;3.5999999999999996" dur="0.8s" repeatCount="indefinite" begin="-0.05s"></animate>
                            </circle>
                            <animateTransform attributeName="transform" type="rotate" keyTimes="0;1" values="0;360" dur="0.8s" repeatCount="indefinite" begin="-0.2s"></animateTransform>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="mt-4 text-4xl">Preparing your curated skincare routine...</div>
        </div>
    </div>


    <nav class="navbar">
        <div class="navbar-content">
            <h1 class="text-4xl font-bold"><a href="/">SkinPro</a></h1>
            <a href="logout" class="text-white ml-4 navbar-link" id="logout">Logout</a>
        </div>
    </nav>

    <div class="max-w-4xl mx-auto mt-8 flex justify-between">
        <form action="#" th:action="@{/survey}" th:object="${surveyResponse}" method="post" class="w-full">
            <div class="navcolor text-white p-6 rounded">
                <h2 class="text-2xl font-bold mb-4 text-center">Skincare Survey</h2>

                <div class="mb-8">
                    <label class="text-xl font-bold">How would you describe your skin type?</label><br>
                    <input type="radio" id="oily" name="skinType" value="Oily" th:field="*{skinType}" class="mr-2">
                    <label for="oily">Oily</label><br>
                    <input type="radio" id="dry" name="skinType" value="Dry" th:field="*{skinType}" class="mr-2">
                    <label for="dry">Dry</label><br>
                    <input type="radio" id="combination" name="skinType" value="Combination" th:field="*{skinType}" class="mr-2">
                    <label for="combination">Combination</label><br>
                    <input type="radio" id="normal" name="skinType" value="Normal" th:field="*{skinType}" class="mr-2">
                    <label for="normal">Normal</label><br>
                    <input type="radio" id="sensitive" name="skinType" value="Sensitive" th:field="*{skinType}" class="mr-2">
                    <label for="sensitive">Sensitive</label>
                </div>

                <div class="mb-8">
                    <label class="text-xl font-bold">What is your main skin concern?</label><br>
                    <select name="mainSkinConcern" th:field="*{mainSkinConcern}" class="w-full text-black mb-2">
                        <option value="Acne and breakouts">Acne and breakouts</option>
                        <option value="Fine lines and wrinkles">Fine lines and wrinkles</option>
                        <option value="Dullness and uneven skin tone">Dullness and uneven skin tone</option>
                        <option value="Dryness and dehydration">Dryness and dehydration</option>
                        <option value="Hyperpigmentation and dark spots">Hyperpigmentation and dark spots</option>
                        <option value="Sensitivity and redness">Sensitivity and redness</option>
                    </select>
                </div>

                <div class="mb-8">
                    <label class="text-xl font-bold">How does your skin react to new skincare products?</label><br>
                    <input type="radio" id="positively" name="reactionToNewProducts" value="Positively" th:field="*{reactionToNewProducts}" class="mr-2">
                    <label for="positively">Positively, with few or no adverse reactions.</label><br>
                    <input type="radio" id="negatively" name="reactionToNewProducts" value="Negatively" th:field="*{reactionToNewProducts}" class="mr-2">
                    <label for="negatively">Negatively, with irritation, redness, or breakouts.</label><br>
                    <input type="radio" id="varies" name="reactionToNewProducts" value="It varies" th:field="*{reactionToNewProducts}" class="mr-2">
                    <label for="varies">It varies; some products are fine, while others cause reactions.</label><br>
                    <input type="radio" id="noPattern" name="reactionToNewProducts" value="I haven't noticed a pattern" th:field="*{reactionToNewProducts}" class="mr-2">
                    <label for="noPattern">I haven't noticed a pattern in how my skin reacts.</label>
                </div>

                <div class="mb-8">
                    <label class="text-xl font-bold">What is your age range?</label><br>
                    <select name="ageRange" th:field="*{ageRange}" class="w-full text-black mb-2">
                        <option value="Under 18">Under 18</option>
                        <option value="18-24">18-24</option>
                        <option value="25-34">25-34</option>
                        <option value="35-44">35-44</option>
                        <option value="45-54">45-54</option>
                        <option value="55+">55+</option>
                    </select>
                </div>

                <div class="mb-8">
                    <label class="text-xl font-bold">How often are you exposed to the sun without protection (e.g., sunscreen)?</label><br>
                    <select name="sunExposure" th:field="*{sunExposure}" class="w-full text-black mb-2" >
                        <option value="Rarely or never">Rarely or never</option>
                        <option value="Sometimes">Sometimes</option>
                        <option value="Often">Often</option>
                        <option value="Always">Always</option>
                    </select>
                </div>

                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">Submit</button>
            </div>
        </form>

        <script>
            document.querySelector('form').addEventListener('submit', function (event) {
                document.getElementById('loadingScreen').style.visibility = 'visible';
        });</script>
    </div>
</div>
</body>
</html>
